body {background: #F5F8FA; color: #777;}
#content {max-width: 800px; margin: 4em auto; padding: 0 2em; line-height: 1.5em;}
.hide {display: none;}
.error{
 color: red;
 margin-left: 10px;
}
label {
margin-right:10px;
}
